#big-capital {
  font-size: 26px;
}

body {
  box-sizing: border-box;
  font-family: "Times New Roman", Times, serif;
  padding: 0 5% 0;
  text-align: justify;
  width: 100%;
}

.bold {
  font-weight: bold;
}

#cv-carlos {
  width: 63.5%;
  margin: auto;
}

.flex-between {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

header {
  width: 100%;
  margin: auto;
  text-align: center;

  display: flex;
  flex-direction: column;
}

h1 {
  font-size: 20px;
  margin-bottom: 0;
}

h2 {
  font-size: 12px;
  margin-bottom: 0;
}

hr {
  height: 1.5px;
  background: black;
  margin-top: 0;
  margin-bottom: 16px;
}

header {
  display: flex;
  justify-content: space-between;
}

.info {
  display: flex;
  flex-direction: column;
}

.italic {
  font-style: italic;
}

p {
  margin: 0;
}

section {
  margin-top: 18px;
}

#skills-list {
  column-count: 2;
}

#small-capital {
  font-size: 16px;
}

ul {
  padding: 0 0 0 20px;
}

@media (min-width: 1080px) {
  .flex-between {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
  }
}
